{% load static %}

<html>
<header>
  <img src="{% static "01p.png" %}" alt="PonderaLab" align="right" width="300px">
</header>
<br><br><br><br>
<body>
  <font face = "Verdana">
  <div style="margin:0px 0">
    <center>
      <h1>Sismo 19 de septiembre</h1>
      <div style="display:inline-block;width:20px;height:10px; background-color:white; border:1px solid;;"></div> Hospital
      <div style="display:inline-block;width:20px;height:10px; background-color:black;"></div> Derrumbe
      <div style="display:inline-block;width:20px;height:10px; background-color:orange;"></div> Daños
      <div style="display:inline-block;width:20px;height:10px; background-color:rgb(63, 171, 219);"></div> Centro de Acopio
      <div style="display:inline-block;width:20px;height:10px; background-color:rgb(212, 63, 49);"></div> Se Requieren Voluntarios
      <div style="display:inline-block;width:20px;height:10px; background-color:rgb(116, 174, 50) ;"></div> Albergue
      <div style="display:inline-block;width:20px;height:10px; background-color:rgb(253, 142, 130) ;"></div> Requiero Revisión de Inmueble
    </center>
  </div>
  <iframe style="display:block;margin:20px auto;" src="{% url 'mapa' %}" height="60%" width="80%"></iframe>
  <br><br><br>
  <div style="margin:0px 0">
    <center>
      <h1>Mapa de calor de derrumbes y daños graves</h1>
    </center>
  </div>
  <iframe style="display:block;margin:20px auto;" src="{% url 'heatmap' %}" height="60%" width="80%"></iframe>
  <div style="width:300px; text-align:center; margin:0px auto;">¿Quieres ayudar?<br /><br />
      <input style="width:200px; background-color:#303030;color:white;" type="button" value="Cómo Ayudar Mx" onclick="window.location.href='https://comoayudar.mx'" />
      <input style="width:200px; background-color:#404040;color:white;" type="button" value="WishList Amazon" onclick="window.location.href='https://www.amazon.com.mx/b?ie=UTF8&node=17290014011&pf_rd_p=76aec45f-a7fa-4330-9eac-77b7ae0b8bf3&pf_rd_r=6QR31H1ZGWQGPYKJ9X65'" />
      <input style="width:200px; background-color:#505050;color:white;" type="button" value="PayPal Cruz Roja" onclick="window.location.href='https://www.paypal.com/mx/webapps/mpp/donar/institution?name=redCross'" />
      <input style="width:200px; background-color:#606060;color:white;" type="button" value="Topos" onclick="window.location.href='http://topos.red'" />
      <input style="width:200px; background-color:#606060;color:white;" type="button" value="@juntossismocdmx" onclick="window.location.href='https://twitter.com/juntossismocdmx'" />
      <input style="width:200px; background-color:#606060;color:white;" type="button" value="Hospedaje para rescatistas" onclick="window.location.href='https://www.tripadvisor.com.mx/Hotel_Review-g150800-d308512-Reviews-Hostel_Mundo_Joven_Catedral-Mexico_City_Central_Mexico_and_Gulf_Coast.html'" />
      <input style="width:200px; background-color:#606060;color:white;" type="button" value="Mexico te Necesita" onclick="window.location.href='https://www.mercadolibre.com.mx/mexico-te-necesita'" />
  </div>
  <br />
  <br />

  <div style="width:300px; text-align:center; margin:10px auto;">Verifica el Estado de tu Casa<br /><br />
       <input style="width:200px; background-color:#606060;color:white;" type="button" value="Facultad de Arquitectura UNAM" onclick="window.location.href='https://docs.google.com/forms/d/e/1FAIpQLSeQEGPjjKVxHN-TEhv3vtmVQWWtdUKmlSdtpsuu15owca6CKw/viewform?c=0&w=1'"/>
       <input style="width:200px; background-color:#606060;color:white;" type="button" value="Salva Tu Casa" onclick="window.location.href='http://www.salvatucasa.mx'">
  </div>

  <br />
    </font>
</body>
<img scr='{% static "pulses.png" %}'/>
</html>
