<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS = false; L_NO_TOUCH = false; L_DISABLE_3D = false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
    <link rel="stylesheet" href="https://rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" />
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <style> #map_ab4e06ec36af4170b35fad4d65a6d9b0 {
                position : relative;
                width : 100.0%;
                height: 100.0%;
                left: 0.0%;
                top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_ab4e06ec36af4170b35fad4d65a6d9b0" ></div>
        
</body>
<script>    
    

            
                var bounds = null;
            

            var map_ab4e06ec36af4170b35fad4d65a6d9b0 = L.map(
                                  'map_ab4e06ec36af4170b35fad4d65a6d9b0',
                                  {center: [19.006626,-98.801924],
                                  zoom: 6,
                                  maxBounds: bounds,
                                  layers: [],
                                  worldCopyJump: false,
                                  crs: L.CRS.EPSG3857
                                 });
            
        
    
            var tile_layer_f1754ccb921a4f2abc42ef243f42c722 = L.tileLayer(
                'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                {
  "attribution": null, 
  "detectRetina": false, 
  "maxZoom": 18, 
  "minZoom": 1, 
  "noWrap": false, 
  "subdomains": "abc"
}
                ).addTo(map_ab4e06ec36af4170b35fad4d65a6d9b0);
        
    
            var feature_group_1097e25dcfc449d89de420c7797e8102 = L.featureGroup(
                ).addTo(map_ab4e06ec36af4170b35fad4d65a6d9b0);
        
    

            var marker_c09062e59e594928863a9f168c061242 = L.marker(
                [19.24523,-99.07573],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_1097e25dcfc449d89de420c7797e8102);
            
    

                var icon_5c531cd5bbb249fbafe5ec08bfd2c20f = L.AwesomeMarkers.icon({
                    icon: 'none',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_c09062e59e594928863a9f168c061242.setIcon(icon_5c531cd5bbb249fbafe5ec08bfd2c20f);
            
    
            var popup_7b4a161dbe1e44068751b2a8243cf8d1 = L.popup({maxWidth: '300'});

            
                var html_c1f4a6ef5f9a40ab9a6c6494f607f3f6 = $('<div id="html_c1f4a6ef5f9a40ab9a6c6494f607f3f6" style="width: 100.0%; height: 100.0%;">2017-09-23 13:26:27 Se Necesita: Agua Embotellada; Alimentos No Perecederos; Otro Viveres En General. Jose Truko 444 850 2692</div>')[0];
                popup_7b4a161dbe1e44068751b2a8243cf8d1.setContent(html_c1f4a6ef5f9a40ab9a6c6494f607f3f6);
            

            marker_c09062e59e594928863a9f168c061242.bindPopup(popup_7b4a161dbe1e44068751b2a8243cf8d1);

            
        
    
            var feature_group_a34594d6d158401fa9bbb10c891047a2 = L.featureGroup(
                ).addTo(map_ab4e06ec36af4170b35fad4d65a6d9b0);
        
    

            var marker_6241f52fe3124d02a60eab6e9236caed = L.marker(
                [19.03997,-98.2133],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_a34594d6d158401fa9bbb10c891047a2);
            
    

                var icon_cd2ad826ae074187b082bfa77389a01c = L.AwesomeMarkers.icon({
                    icon: 'none',
                    iconColor: 'white',
                    markerColor: 'white',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_6241f52fe3124d02a60eab6e9236caed.setIcon(icon_cd2ad826ae074187b082bfa77389a01c);
            
    
            var popup_d759cc0eb6524dd5a69234e220db3be1 = L.popup({maxWidth: '300'});

            
                var html_bad7f4fee3c84de1876c639289f2cf47 = $('<div id="html_bad7f4fee3c84de1876c639289f2cf47" style="width: 100.0%; height: 100.0%;">2017-09-22 19:02:20 Se Necesita: Material De Curacion (Gasas, Agua Oxigenada,...); Jeringas (5Ml Y 10Ml); Extensiones De Luz; Detergente  Acopio Hubuap. Maz </div>')[0];
                popup_d759cc0eb6524dd5a69234e220db3be1.setContent(html_bad7f4fee3c84de1876c639289f2cf47);
            

            marker_6241f52fe3124d02a60eab6e9236caed.bindPopup(popup_d759cc0eb6524dd5a69234e220db3be1);

            
        
    
            var feature_group_ced2af61880f46569fc964977d9968ed = L.featureGroup(
                ).addTo(map_ab4e06ec36af4170b35fad4d65a6d9b0);
        
    

            var marker_70e9200e9f384d1da64ff9d17de26b1a = L.marker(
                [19.33935,-99.14236],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_ced2af61880f46569fc964977d9968ed);
            
    

                var icon_a5c3621a2e744d77becabc0ff8dcd5e3 = L.AwesomeMarkers.icon({
                    icon: 'none',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_70e9200e9f384d1da64ff9d17de26b1a.setIcon(icon_a5c3621a2e744d77becabc0ff8dcd5e3);
            
    
            var popup_c21e407994a34de1927dfd49727e1f65 = L.popup({maxWidth: '300'});

            
                var html_f3288a19320842ebbfe2f280933baa62 = $('<div id="html_f3288a19320842ebbfe2f280933baa62" style="width: 100.0%; height: 100.0%;">2017-09-23 15:13:58 Se Necesitan 20 Voluntarios Para Realizar:  Contacto: Gaby 55 2181 9064</div>')[0];
                popup_c21e407994a34de1927dfd49727e1f65.setContent(html_f3288a19320842ebbfe2f280933baa62);
            

            marker_70e9200e9f384d1da64ff9d17de26b1a.bindPopup(popup_c21e407994a34de1927dfd49727e1f65);

            
        
    
            var feature_group_4db1532489a94cb5a604adbfc2f59c26 = L.featureGroup(
                ).addTo(map_ab4e06ec36af4170b35fad4d65a6d9b0);
        
    

            var marker_8dec981a85a24adc901e430aea419943 = L.marker(
                [19.38907,-99.16171],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_4db1532489a94cb5a604adbfc2f59c26);
            
    

                var icon_e1524f50277d4161aabcdfbdfe21a850 = L.AwesomeMarkers.icon({
                    icon: 'none',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_8dec981a85a24adc901e430aea419943.setIcon(icon_e1524f50277d4161aabcdfbdfe21a850);
            
    
            var popup_99afc323d9f440bd927ac0928ab18f70 = L.popup({maxWidth: '300'});

            
                var html_fb1c9c33063c447a9e1fff3b9cbe796b = $('<div id="html_fb1c9c33063c447a9e1fff3b9cbe796b" style="width: 100.0%; height: 100.0%;">2017-09-22 15:38:54 Cum - Características: Ofrece Comida </div>')[0];
                popup_99afc323d9f440bd927ac0928ab18f70.setContent(html_fb1c9c33063c447a9e1fff3b9cbe796b);
            

            marker_8dec981a85a24adc901e430aea419943.bindPopup(popup_99afc323d9f440bd927ac0928ab18f70);

            
        
    

            var marker_de57315601cc43068b3cf6ffe67e4283 = L.marker(
                [19.40977,-99.16238],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_4db1532489a94cb5a604adbfc2f59c26);
            
    

                var icon_f80c785679e547e485fcffe0e15ae097 = L.AwesomeMarkers.icon({
                    icon: 'none',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_de57315601cc43068b3cf6ffe67e4283.setIcon(icon_f80c785679e547e485fcffe0e15ae097);
            
    
            var popup_74dc5a0d438848d5913e3d581655dd08 = L.popup({maxWidth: '300'});

            
                var html_1ea3819963a34fd59b4cf830297d9d10 = $('<div id="html_1ea3819963a34fd59b4cf830297d9d10" style="width: 100.0%; height: 100.0%;">2017-09-22 14:41:59 Albergue Para Perros Y Gatos - Características: Acepta Mascotas </div>')[0];
                popup_74dc5a0d438848d5913e3d581655dd08.setContent(html_1ea3819963a34fd59b4cf830297d9d10);
            

            marker_de57315601cc43068b3cf6ffe67e4283.bindPopup(popup_74dc5a0d438848d5913e3d581655dd08);

            
        
    

            var marker_9ceaa95d033042e5a22f3d2dc402bc02 = L.marker(
                [19.43557,-99.15858],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_4db1532489a94cb5a604adbfc2f59c26);
            
    

                var icon_2e556c70bce949498379632560c8c5f7 = L.AwesomeMarkers.icon({
                    icon: 'none',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_9ceaa95d033042e5a22f3d2dc402bc02.setIcon(icon_2e556c70bce949498379632560c8c5f7);
            
    
            var popup_e4ba7ff82e24421586ff2556ef8e5a93 = L.popup({maxWidth: '300'});

            
                var html_4e10ce14c76a4bb3bc4aae87f0e3a593 = $('<div id="html_4e10ce14c76a4bb3bc4aae87f0e3a593" style="width: 100.0%; height: 100.0%;">2017-09-22 13:24:28 Albergue Pentatlon Universitario - Características: Ofrece Comida Es Del Pentatlon Universitario En La Delegacion Cuauhtemoc Frente A La Uvm Campus San Rafael. Sadi Carnot 68 Col San Rafael</div>')[0];
                popup_e4ba7ff82e24421586ff2556ef8e5a93.setContent(html_4e10ce14c76a4bb3bc4aae87f0e3a593);
            

            marker_9ceaa95d033042e5a22f3d2dc402bc02.bindPopup(popup_e4ba7ff82e24421586ff2556ef8e5a93);

            
        
    
            var feature_group_aea29b1db51444a7b6327ffbba4c0801 = L.featureGroup(
                ).addTo(map_ab4e06ec36af4170b35fad4d65a6d9b0);
        
    

            var marker_a33860a08fa64aecaf43f596e62a2000 = L.marker(
                [19.41308,-99.16478],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_aea29b1db51444a7b6327ffbba4c0801);
            
    

                var icon_b142f85aa294429a874a9cfce718964d = L.AwesomeMarkers.icon({
                    icon: 'none',
                    iconColor: 'white',
                    markerColor: 'black',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_a33860a08fa64aecaf43f596e62a2000.setIcon(icon_b142f85aa294429a874a9cfce718964d);
            
    
            var popup_fe046765dc024ca88883f0f62ed40ec2 = L.popup({maxWidth: '300'});

            
                var html_3486ddbb7f994a21a96b5bd85404912b = $('<div id="html_3486ddbb7f994a21a96b5bd85404912b" style="width: 100.0%; height: 100.0%;">2017-09-22 18:16:39 <Br>Derrumbe Maz</div>')[0];
                popup_fe046765dc024ca88883f0f62ed40ec2.setContent(html_3486ddbb7f994a21a96b5bd85404912b);
            

            marker_a33860a08fa64aecaf43f596e62a2000.bindPopup(popup_fe046765dc024ca88883f0f62ed40ec2);

            
        
    

            var marker_96bc0eee2973463c8266214af12e48b4 = L.marker(
                [19.41297,-99.17091],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_aea29b1db51444a7b6327ffbba4c0801);
            
    

                var icon_e59471299f224199845690a1c54cfcb0 = L.AwesomeMarkers.icon({
                    icon: 'none',
                    iconColor: 'white',
                    markerColor: 'black',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_96bc0eee2973463c8266214af12e48b4.setIcon(icon_e59471299f224199845690a1c54cfcb0);
            
    
            var popup_1c974578763f4a5d96a79cac452fdad7 = L.popup({maxWidth: '300'});

            
                var html_602c2214fd194df3906d3a5dfca0feb0 = $('<div id="html_602c2214fd194df3906d3a5dfca0feb0" style="width: 100.0%; height: 100.0%;">2017-09-22 18:14:52 <Br>Derrumbe </div>')[0];
                popup_1c974578763f4a5d96a79cac452fdad7.setContent(html_602c2214fd194df3906d3a5dfca0feb0);
            

            marker_96bc0eee2973463c8266214af12e48b4.bindPopup(popup_1c974578763f4a5d96a79cac452fdad7);

            
        
    

            var marker_2a9eefdd98114f38a8a0e085b6d5a1b2 = L.marker(
                [19.41296,-99.16457],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_aea29b1db51444a7b6327ffbba4c0801);
            
    

                var icon_0df0fa0a3a3c4de1a793043a34f262d0 = L.AwesomeMarkers.icon({
                    icon: 'none',
                    iconColor: 'white',
                    markerColor: 'black',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_2a9eefdd98114f38a8a0e085b6d5a1b2.setIcon(icon_0df0fa0a3a3c4de1a793043a34f262d0);
            
    
            var popup_6e0eb6b41e0e4689bdf330983f17b80e = L.popup({maxWidth: '300'});

            
                var html_8d6d163269744d608e86fcc40b5fdfba = $('<div id="html_8d6d163269744d608e86fcc40b5fdfba" style="width: 100.0%; height: 100.0%;">2017-09-22 11:50:11 <Br>Derrumbe </div>')[0];
                popup_6e0eb6b41e0e4689bdf330983f17b80e.setContent(html_8d6d163269744d608e86fcc40b5fdfba);
            

            marker_2a9eefdd98114f38a8a0e085b6d5a1b2.bindPopup(popup_6e0eb6b41e0e4689bdf330983f17b80e);

            
        
    
            var feature_group_bdb5cf88d5e245e585d4c0178c312397 = L.featureGroup(
                ).addTo(map_ab4e06ec36af4170b35fad4d65a6d9b0);
        
    

            var marker_5de50bbc8f5b4b26b94fdb511d3794df = L.marker(
                [19.03205,-98.20062],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_bdb5cf88d5e245e585d4c0178c312397);
            
    

                var icon_f76e8110956c41a588f5cdd721501e23 = L.AwesomeMarkers.icon({
                    icon: 'none',
                    iconColor: 'white',
                    markerColor: 'orange',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_5de50bbc8f5b4b26b94fdb511d3794df.setIcon(icon_f76e8110956c41a588f5cdd721501e23);
            
    
            var popup_e67c1dd83e7c4772a75d9e348cf2150d = L.popup({maxWidth: '300'});

            
                var html_5e7db0e4ad334f54aa7fe425af593935 = $('<div id="html_5e7db0e4ad334f54aa7fe425af593935" style="width: 100.0%; height: 100.0%;">2017-09-22 19:21:46 <Br>Daño 209 De La 25 Pte Inmueble Danado, Esta Acordonado Pero Es Zona De Mucho Transito.</div>')[0];
                popup_e67c1dd83e7c4772a75d9e348cf2150d.setContent(html_5e7db0e4ad334f54aa7fe425af593935);
            

            marker_5de50bbc8f5b4b26b94fdb511d3794df.bindPopup(popup_e67c1dd83e7c4772a75d9e348cf2150d);

            
        
    

            var marker_add5c73765714c2ea490bb752eaa5df5 = L.marker(
                [19.35063,-99.12577],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_bdb5cf88d5e245e585d4c0178c312397);
            
    

                var icon_8ea06e5945eb49f2bd88284b072dd3b7 = L.AwesomeMarkers.icon({
                    icon: 'none',
                    iconColor: 'white',
                    markerColor: 'orange',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_add5c73765714c2ea490bb752eaa5df5.setIcon(icon_8ea06e5945eb49f2bd88284b072dd3b7);
            
    
            var popup_4c7c05fa2ef24c478d0326c316e5f075 = L.popup({maxWidth: '300'});

            
                var html_81bd8d00f6464db3aa9c9f56b8aef319 = $('<div id="html_81bd8d00f6464db3aa9c9f56b8aef319" style="width: 100.0%; height: 100.0%;">2017-09-22 17:01:58 <Br>Daño Dos Edificios Gravemente Danados, Una Obra De Construccion Que Esta Trabajando Ahorita Y Pone En Peligro Por El Peso De Sus Camiones.</div>')[0];
                popup_4c7c05fa2ef24c478d0326c316e5f075.setContent(html_81bd8d00f6464db3aa9c9f56b8aef319);
            

            marker_add5c73765714c2ea490bb752eaa5df5.bindPopup(popup_4c7c05fa2ef24c478d0326c316e5f075);

            
        
    
            var feature_group_615054acfabf49d6b844a433fa0ee63c = L.featureGroup(
                ).addTo(map_ab4e06ec36af4170b35fad4d65a6d9b0);
        
    
            var feature_group_d9235c96b76d472d8952e5a9e746a708 = L.featureGroup(
                ).addTo(map_ab4e06ec36af4170b35fad4d65a6d9b0);
        
    

            var marker_43c0f445f5784abd8baf6a50dea183fa = L.marker(
                [19.4357,-99.1439],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_d9235c96b76d472d8952e5a9e746a708);
            
    

                var icon_15f2d449843a4505a03cf8518b24b954 = L.AwesomeMarkers.icon({
                    icon: 'none',
                    iconColor: 'white',
                    markerColor: 'white',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_43c0f445f5784abd8baf6a50dea183fa.setIcon(icon_15f2d449843a4505a03cf8518b24b954);
            
    
            var popup_5874b1811a8b4a8cb23788c101deb211 = L.popup({maxWidth: '300'});

            
                var html_d970513227bd470c83ab583cd260b4f2 = $('<div id="html_d970513227bd470c83ab583cd260b4f2" style="width: 100.0%; height: 100.0%;">2017-09-22 11:18:32  </div>')[0];
                popup_5874b1811a8b4a8cb23788c101deb211.setContent(html_d970513227bd470c83ab583cd260b4f2);
            

            marker_43c0f445f5784abd8baf6a50dea183fa.bindPopup(popup_5874b1811a8b4a8cb23788c101deb211);

            
        
    

            var marker_12aafe29c73a4219a1f8694e53822b10 = L.marker(
                [19.34994,-99.1817],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_d9235c96b76d472d8952e5a9e746a708);
            
    

                var icon_179cdc1ef4c94212b40fe0fa1d134457 = L.AwesomeMarkers.icon({
                    icon: 'none',
                    iconColor: 'white',
                    markerColor: 'white',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_12aafe29c73a4219a1f8694e53822b10.setIcon(icon_179cdc1ef4c94212b40fe0fa1d134457);
            
    
            var popup_5febbdaab7294547860f1242eabd15b6 = L.popup({maxWidth: '300'});

            
                var html_bbbb2f349cef483eb434a7abb3009c35 = $('<div id="html_bbbb2f349cef483eb434a7abb3009c35" style="width: 100.0%; height: 100.0%;">2017-09-22 00:02:33  </div>')[0];
                popup_5febbdaab7294547860f1242eabd15b6.setContent(html_bbbb2f349cef483eb434a7abb3009c35);
            

            marker_12aafe29c73a4219a1f8694e53822b10.bindPopup(popup_5febbdaab7294547860f1242eabd15b6);

            
        
    
            var layer_control_c66a9bb3e4f74a0eb7354bcb96824e2b = {
                base_layers : { "openstreetmap" : tile_layer_f1754ccb921a4f2abc42ef243f42c722, },
                overlays : { "Acopios" : feature_group_1097e25dcfc449d89de420c7797e8102,"Acopios Hospitales" : feature_group_a34594d6d158401fa9bbb10c891047a2,"Requieren Voluntarios" : feature_group_ced2af61880f46569fc964977d9968ed,"Albergues" : feature_group_4db1532489a94cb5a604adbfc2f59c26,"Derrumbes" : feature_group_aea29b1db51444a7b6327ffbba4c0801,"Daños" : feature_group_bdb5cf88d5e245e585d4c0178c312397,"Requieren revisión de inmueble" : feature_group_615054acfabf49d6b844a433fa0ee63c,"Hospitales" : feature_group_d9235c96b76d472d8952e5a9e746a708, }
                };
            L.control.layers(
                layer_control_c66a9bb3e4f74a0eb7354bcb96824e2b.base_layers,
                layer_control_c66a9bb3e4f74a0eb7354bcb96824e2b.overlays,
                {position: 'topright',
                 collapsed: true,
                 autoZIndex: true
                }).addTo(map_ab4e06ec36af4170b35fad4d65a6d9b0);
        
</script>