<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS = false; L_NO_TOUCH = false; L_DISABLE_3D = false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
    <link rel="stylesheet" href="https://rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" />
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <style> #map_471f0c83f84241c8ab34b8a073c28c92 {
                position : relative;
                width : 100.0%;
                height: 100.0%;
                left: 0.0%;
                top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_471f0c83f84241c8ab34b8a073c28c92" ></div>
        
</body>
<script>    
    

            
                var bounds = null;
            

            var map_471f0c83f84241c8ab34b8a073c28c92 = L.map(
                                  'map_471f0c83f84241c8ab34b8a073c28c92',
                                  {center: [19.006626,-98.801924],
                                  zoom: 6,
                                  maxBounds: bounds,
                                  layers: [],
                                  worldCopyJump: false,
                                  crs: L.CRS.EPSG3857
                                 });
            
        
    
            var tile_layer_08b1abadbc634f5490cc9480f669e6a9 = L.tileLayer(
                'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                {
  "attribution": null, 
  "detectRetina": false, 
  "maxZoom": 18, 
  "minZoom": 1, 
  "noWrap": false, 
  "subdomains": "abc"
}
                ).addTo(map_471f0c83f84241c8ab34b8a073c28c92);
        
    
            var feature_group_5cb9db0a01a3469badb8da0470198236 = L.featureGroup(
                ).addTo(map_471f0c83f84241c8ab34b8a073c28c92);
        
    

            var marker_8c2a7945dddc427fbacd3ccfcc4c72c7 = L.marker(
                [19.24523,-99.07573],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_5cb9db0a01a3469badb8da0470198236);
            
    

                var icon_052b19cfe1ca43c28cdc6b959d94cdf6 = L.AwesomeMarkers.icon({
                    icon: 'none',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_8c2a7945dddc427fbacd3ccfcc4c72c7.setIcon(icon_052b19cfe1ca43c28cdc6b959d94cdf6);
            
    
            var popup_55112fda4d29406e9a860638ae5b1261 = L.popup({maxWidth: '300'});

            
                var html_0953c160de984e41863a5c5ca479ecad = $('<div id="html_0953c160de984e41863a5c5ca479ecad" style="width: 100.0%; height: 100.0%;">2017-09-23 13:26:27 Se Necesita: Agua Embotellada; Alimentos No Perecederos; Otro Viveres En General. Jose Truko 444 850 2692</div>')[0];
                popup_55112fda4d29406e9a860638ae5b1261.setContent(html_0953c160de984e41863a5c5ca479ecad);
            

            marker_8c2a7945dddc427fbacd3ccfcc4c72c7.bindPopup(popup_55112fda4d29406e9a860638ae5b1261);

            
        
    
            var feature_group_f35f22d6ee7a470a83f501f56878c91c = L.featureGroup(
                ).addTo(map_471f0c83f84241c8ab34b8a073c28c92);
        
    

            var marker_ed4f955945a94191acb25fba3153d305 = L.marker(
                [19.03997,-98.2133],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_f35f22d6ee7a470a83f501f56878c91c);
            
    

                var icon_bdcf35542565430f96e6e383d821ff3d = L.AwesomeMarkers.icon({
                    icon: 'none',
                    iconColor: 'white',
                    markerColor: 'white',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_ed4f955945a94191acb25fba3153d305.setIcon(icon_bdcf35542565430f96e6e383d821ff3d);
            
    
            var popup_ff5178c296e6436198d69928538a7de5 = L.popup({maxWidth: '300'});

            
                var html_39e873edf79249cf8da9829381468908 = $('<div id="html_39e873edf79249cf8da9829381468908" style="width: 100.0%; height: 100.0%;">2017-09-22 19:02:20 Se Necesita: Material De Curacion (Gasas, Agua Oxigenada,...); Jeringas (5Ml Y 10Ml); Extensiones De Luz; Detergente  Acopio Hubuap. Maz </div>')[0];
                popup_ff5178c296e6436198d69928538a7de5.setContent(html_39e873edf79249cf8da9829381468908);
            

            marker_ed4f955945a94191acb25fba3153d305.bindPopup(popup_ff5178c296e6436198d69928538a7de5);

            
        
    
            var feature_group_dbcc05b557b64400bbc8c37c34d0bfe0 = L.featureGroup(
                ).addTo(map_471f0c83f84241c8ab34b8a073c28c92);
        
    

            var marker_0d107f6e3e064c6192f47c999724a900 = L.marker(
                [19.33935,-99.14236],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_dbcc05b557b64400bbc8c37c34d0bfe0);
            
    

                var icon_0149c681efc443c48cfd0dc33e14d149 = L.AwesomeMarkers.icon({
                    icon: 'none',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_0d107f6e3e064c6192f47c999724a900.setIcon(icon_0149c681efc443c48cfd0dc33e14d149);
            
    
            var popup_ea2104f612864646a4a3636fdd7f80ba = L.popup({maxWidth: '300'});

            
                var html_79b6bde0302c4eb7a54d13a75f8512b4 = $('<div id="html_79b6bde0302c4eb7a54d13a75f8512b4" style="width: 100.0%; height: 100.0%;">2017-09-23 15:13:58 Se Necesitan 20 Voluntarios Para Realizar:  Contacto: Gaby 55 2181 9064</div>')[0];
                popup_ea2104f612864646a4a3636fdd7f80ba.setContent(html_79b6bde0302c4eb7a54d13a75f8512b4);
            

            marker_0d107f6e3e064c6192f47c999724a900.bindPopup(popup_ea2104f612864646a4a3636fdd7f80ba);

            
        
    
            var feature_group_4e36d1a2ce364c83a484937e105d3277 = L.featureGroup(
                ).addTo(map_471f0c83f84241c8ab34b8a073c28c92);
        
    

            var marker_5d395cb0529849769a9ec4057505c125 = L.marker(
                [19.38907,-99.16171],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_4e36d1a2ce364c83a484937e105d3277);
            
    

                var icon_0aa7500c54a74a449eec8152666338c4 = L.AwesomeMarkers.icon({
                    icon: 'none',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_5d395cb0529849769a9ec4057505c125.setIcon(icon_0aa7500c54a74a449eec8152666338c4);
            
    
            var popup_0b2618e27e624b69ac4eb3a5bd66758f = L.popup({maxWidth: '300'});

            
                var html_db7c1a0e7ac24bf0a3561c0f99590be0 = $('<div id="html_db7c1a0e7ac24bf0a3561c0f99590be0" style="width: 100.0%; height: 100.0%;">2017-09-22 15:38:54 Cum - Características: Ofrece Comida </div>')[0];
                popup_0b2618e27e624b69ac4eb3a5bd66758f.setContent(html_db7c1a0e7ac24bf0a3561c0f99590be0);
            

            marker_5d395cb0529849769a9ec4057505c125.bindPopup(popup_0b2618e27e624b69ac4eb3a5bd66758f);

            
        
    

            var marker_baa4faba40c649409d7fb084a00384f2 = L.marker(
                [19.40977,-99.16238],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_4e36d1a2ce364c83a484937e105d3277);
            
    

                var icon_90e24f3524af4dcf8582013146dcc307 = L.AwesomeMarkers.icon({
                    icon: 'none',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_baa4faba40c649409d7fb084a00384f2.setIcon(icon_90e24f3524af4dcf8582013146dcc307);
            
    
            var popup_b8b8418d66224b5f867f8449575f1309 = L.popup({maxWidth: '300'});

            
                var html_6ef2a86a8d5249109c774b0dcf902be2 = $('<div id="html_6ef2a86a8d5249109c774b0dcf902be2" style="width: 100.0%; height: 100.0%;">2017-09-22 14:41:59 Albergue Para Perros Y Gatos - Características: Acepta Mascotas </div>')[0];
                popup_b8b8418d66224b5f867f8449575f1309.setContent(html_6ef2a86a8d5249109c774b0dcf902be2);
            

            marker_baa4faba40c649409d7fb084a00384f2.bindPopup(popup_b8b8418d66224b5f867f8449575f1309);

            
        
    

            var marker_63c84a58663749cebe3b3bf0d53e7964 = L.marker(
                [19.43557,-99.15858],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_4e36d1a2ce364c83a484937e105d3277);
            
    

                var icon_e8cd367dc4214bd488e5e598a1610fda = L.AwesomeMarkers.icon({
                    icon: 'none',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_63c84a58663749cebe3b3bf0d53e7964.setIcon(icon_e8cd367dc4214bd488e5e598a1610fda);
            
    
            var popup_adb5934004724ebe8c4ac2dbca6dfe35 = L.popup({maxWidth: '300'});

            
                var html_2bd1c025ad5c4dde80586832d68c1441 = $('<div id="html_2bd1c025ad5c4dde80586832d68c1441" style="width: 100.0%; height: 100.0%;">2017-09-22 13:24:28 Albergue Pentatlon Universitario - Características: Ofrece Comida Es Del Pentatlon Universitario En La Delegacion Cuauhtemoc Frente A La Uvm Campus San Rafael. Sadi Carnot 68 Col San Rafael</div>')[0];
                popup_adb5934004724ebe8c4ac2dbca6dfe35.setContent(html_2bd1c025ad5c4dde80586832d68c1441);
            

            marker_63c84a58663749cebe3b3bf0d53e7964.bindPopup(popup_adb5934004724ebe8c4ac2dbca6dfe35);

            
        
    
            var feature_group_e8367a155e9a4c36997e0d28d6e43595 = L.featureGroup(
                ).addTo(map_471f0c83f84241c8ab34b8a073c28c92);
        
    

            var marker_dda31ad6031c42539f90ba97f221c171 = L.marker(
                [19.41308,-99.16478],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_e8367a155e9a4c36997e0d28d6e43595);
            
    

                var icon_da6b8ec940ea447c8d0fe7fc8702f1c8 = L.AwesomeMarkers.icon({
                    icon: 'none',
                    iconColor: 'white',
                    markerColor: 'black',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_dda31ad6031c42539f90ba97f221c171.setIcon(icon_da6b8ec940ea447c8d0fe7fc8702f1c8);
            
    
            var popup_71a2f9df90a24e0ab78584e03e11a001 = L.popup({maxWidth: '300'});

            
                var html_f31b30e8acd04cb68a9fca6e98facb22 = $('<div id="html_f31b30e8acd04cb68a9fca6e98facb22" style="width: 100.0%; height: 100.0%;">2017-09-22 18:16:39 <Br>Derrumbe Maz</div>')[0];
                popup_71a2f9df90a24e0ab78584e03e11a001.setContent(html_f31b30e8acd04cb68a9fca6e98facb22);
            

            marker_dda31ad6031c42539f90ba97f221c171.bindPopup(popup_71a2f9df90a24e0ab78584e03e11a001);

            
        
    

            var marker_b4855d7f7c3747df8fc74a65a98f2fce = L.marker(
                [19.41297,-99.17091],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_e8367a155e9a4c36997e0d28d6e43595);
            
    

                var icon_5bd733c20d2e490f8f7da5ecadfe9422 = L.AwesomeMarkers.icon({
                    icon: 'none',
                    iconColor: 'white',
                    markerColor: 'black',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_b4855d7f7c3747df8fc74a65a98f2fce.setIcon(icon_5bd733c20d2e490f8f7da5ecadfe9422);
            
    
            var popup_9b1196680dd245ff9221dc59c02984fc = L.popup({maxWidth: '300'});

            
                var html_7f8aef52cc784c7ba0988f0a8ce51a87 = $('<div id="html_7f8aef52cc784c7ba0988f0a8ce51a87" style="width: 100.0%; height: 100.0%;">2017-09-22 18:14:52 <Br>Derrumbe </div>')[0];
                popup_9b1196680dd245ff9221dc59c02984fc.setContent(html_7f8aef52cc784c7ba0988f0a8ce51a87);
            

            marker_b4855d7f7c3747df8fc74a65a98f2fce.bindPopup(popup_9b1196680dd245ff9221dc59c02984fc);

            
        
    

            var marker_5ac4c49d13a74b139b43c264c8c5ecbb = L.marker(
                [19.41296,-99.16457],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_e8367a155e9a4c36997e0d28d6e43595);
            
    

                var icon_de35d427318b4e22ab60911dda9a331d = L.AwesomeMarkers.icon({
                    icon: 'none',
                    iconColor: 'white',
                    markerColor: 'black',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_5ac4c49d13a74b139b43c264c8c5ecbb.setIcon(icon_de35d427318b4e22ab60911dda9a331d);
            
    
            var popup_c0c47839fa144ebfb45aac398da9d700 = L.popup({maxWidth: '300'});

            
                var html_20313f7f32df45b38164dd4d1c7510a4 = $('<div id="html_20313f7f32df45b38164dd4d1c7510a4" style="width: 100.0%; height: 100.0%;">2017-09-22 11:50:11 <Br>Derrumbe </div>')[0];
                popup_c0c47839fa144ebfb45aac398da9d700.setContent(html_20313f7f32df45b38164dd4d1c7510a4);
            

            marker_5ac4c49d13a74b139b43c264c8c5ecbb.bindPopup(popup_c0c47839fa144ebfb45aac398da9d700);

            
        
    
            var feature_group_f418fb7a3ac947d3801bf9169f2c340b = L.featureGroup(
                ).addTo(map_471f0c83f84241c8ab34b8a073c28c92);
        
    

            var marker_26752ecfba114a9b8782d80aabe2f60d = L.marker(
                [19.03205,-98.20062],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_f418fb7a3ac947d3801bf9169f2c340b);
            
    

                var icon_6ae9977faab942fa8b1820b4199e422c = L.AwesomeMarkers.icon({
                    icon: 'none',
                    iconColor: 'white',
                    markerColor: 'orange',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_26752ecfba114a9b8782d80aabe2f60d.setIcon(icon_6ae9977faab942fa8b1820b4199e422c);
            
    
            var popup_5594e98e30e142f7a4c6bc7a0276f47d = L.popup({maxWidth: '300'});

            
                var html_ce11d430f3b94a08a7684e5596641bd9 = $('<div id="html_ce11d430f3b94a08a7684e5596641bd9" style="width: 100.0%; height: 100.0%;">2017-09-22 19:21:46 <Br>Daño 209 De La 25 Pte Inmueble Danado, Esta Acordonado Pero Es Zona De Mucho Transito.</div>')[0];
                popup_5594e98e30e142f7a4c6bc7a0276f47d.setContent(html_ce11d430f3b94a08a7684e5596641bd9);
            

            marker_26752ecfba114a9b8782d80aabe2f60d.bindPopup(popup_5594e98e30e142f7a4c6bc7a0276f47d);

            
        
    

            var marker_659e8dd7d563498d8ad41ba6f0946a63 = L.marker(
                [19.35063,-99.12577],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_f418fb7a3ac947d3801bf9169f2c340b);
            
    

                var icon_7d77f96b4956432da664158a9d6ff369 = L.AwesomeMarkers.icon({
                    icon: 'none',
                    iconColor: 'white',
                    markerColor: 'orange',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_659e8dd7d563498d8ad41ba6f0946a63.setIcon(icon_7d77f96b4956432da664158a9d6ff369);
            
    
            var popup_82946220014f43958155fd8d23427626 = L.popup({maxWidth: '300'});

            
                var html_848a1e7494de4be7a559b88b00ab28da = $('<div id="html_848a1e7494de4be7a559b88b00ab28da" style="width: 100.0%; height: 100.0%;">2017-09-22 17:01:58 <Br>Daño Dos Edificios Gravemente Danados, Una Obra De Construccion Que Esta Trabajando Ahorita Y Pone En Peligro Por El Peso De Sus Camiones.</div>')[0];
                popup_82946220014f43958155fd8d23427626.setContent(html_848a1e7494de4be7a559b88b00ab28da);
            

            marker_659e8dd7d563498d8ad41ba6f0946a63.bindPopup(popup_82946220014f43958155fd8d23427626);

            
        
    
            var feature_group_f5904bfdd0534501ac81afcde034d5e1 = L.featureGroup(
                ).addTo(map_471f0c83f84241c8ab34b8a073c28c92);
        
    
            var feature_group_66227e65fa0d4ee188ccfc0fb60853b4 = L.featureGroup(
                ).addTo(map_471f0c83f84241c8ab34b8a073c28c92);
        
    

            var marker_e6888808ab584222918f8ac92fbfdc2b = L.marker(
                [19.4357,-99.1439],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_66227e65fa0d4ee188ccfc0fb60853b4);
            
    

                var icon_f588990d42d84b0ebe84b5a8a22182c3 = L.AwesomeMarkers.icon({
                    icon: 'none',
                    iconColor: 'white',
                    markerColor: 'white',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_e6888808ab584222918f8ac92fbfdc2b.setIcon(icon_f588990d42d84b0ebe84b5a8a22182c3);
            
    
            var popup_f5e3a5d0d72f46b589e97f5e114c78ff = L.popup({maxWidth: '300'});

            
                var html_bc6bae5993e640aa8188d4bacbf5ab90 = $('<div id="html_bc6bae5993e640aa8188d4bacbf5ab90" style="width: 100.0%; height: 100.0%;">2017-09-22 11:18:32  </div>')[0];
                popup_f5e3a5d0d72f46b589e97f5e114c78ff.setContent(html_bc6bae5993e640aa8188d4bacbf5ab90);
            

            marker_e6888808ab584222918f8ac92fbfdc2b.bindPopup(popup_f5e3a5d0d72f46b589e97f5e114c78ff);

            
        
    

            var marker_d9e31465c67345d89ff846900d480b35 = L.marker(
                [19.34994,-99.1817],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_66227e65fa0d4ee188ccfc0fb60853b4);
            
    

                var icon_7564b04de92c4a679b845b220b7bd795 = L.AwesomeMarkers.icon({
                    icon: 'none',
                    iconColor: 'white',
                    markerColor: 'white',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_d9e31465c67345d89ff846900d480b35.setIcon(icon_7564b04de92c4a679b845b220b7bd795);
            
    
            var popup_3e686d4219ce457786d352b15b1f24cd = L.popup({maxWidth: '300'});

            
                var html_80f82c6613d542e68fbf2fb2a7dc92b3 = $('<div id="html_80f82c6613d542e68fbf2fb2a7dc92b3" style="width: 100.0%; height: 100.0%;">2017-09-22 00:02:33  </div>')[0];
                popup_3e686d4219ce457786d352b15b1f24cd.setContent(html_80f82c6613d542e68fbf2fb2a7dc92b3);
            

            marker_d9e31465c67345d89ff846900d480b35.bindPopup(popup_3e686d4219ce457786d352b15b1f24cd);

            
        
    
            var layer_control_a46e77f8346d4745bee3c948f10f4aac = {
                base_layers : { "openstreetmap" : tile_layer_08b1abadbc634f5490cc9480f669e6a9, },
                overlays : { "Acopios" : feature_group_5cb9db0a01a3469badb8da0470198236,"Acopios Hospitales" : feature_group_f35f22d6ee7a470a83f501f56878c91c,"Requieren Voluntarios" : feature_group_dbcc05b557b64400bbc8c37c34d0bfe0,"Albergues" : feature_group_4e36d1a2ce364c83a484937e105d3277,"Derrumbes" : feature_group_e8367a155e9a4c36997e0d28d6e43595,"Daños" : feature_group_f418fb7a3ac947d3801bf9169f2c340b,"Requieren revisión de inmueble" : feature_group_f5904bfdd0534501ac81afcde034d5e1,"Hospitales" : feature_group_66227e65fa0d4ee188ccfc0fb60853b4, }
                };
            L.control.layers(
                layer_control_a46e77f8346d4745bee3c948f10f4aac.base_layers,
                layer_control_a46e77f8346d4745bee3c948f10f4aac.overlays,
                {position: 'topright',
                 collapsed: true,
                 autoZIndex: true
                }).addTo(map_471f0c83f84241c8ab34b8a073c28c92);
        
</script>