<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS = false; L_NO_TOUCH = false; L_DISABLE_3D = false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
    <link rel="stylesheet" href="https://rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" />
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <style> #map_1108fe1b5fb7404cb8a0357257158bf7 {
                position : relative;
                width : 100.0%;
                height: 100.0%;
                left: 0.0%;
                top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_1108fe1b5fb7404cb8a0357257158bf7" ></div>
        
</body>
<script>    
    

            
                var bounds = null;
            

            var map_1108fe1b5fb7404cb8a0357257158bf7 = L.map(
                                  'map_1108fe1b5fb7404cb8a0357257158bf7',
                                  {center: [19.006626,-98.801924],
                                  zoom: 6,
                                  maxBounds: bounds,
                                  layers: [],
                                  worldCopyJump: false,
                                  crs: L.CRS.EPSG3857
                                 });
            
        
    
            var tile_layer_9d6a1f4f0ce74613bfff190fcdd28e8b = L.tileLayer(
                'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                {
  "attribution": null, 
  "detectRetina": false, 
  "maxZoom": 18, 
  "minZoom": 1, 
  "noWrap": false, 
  "subdomains": "abc"
}
                ).addTo(map_1108fe1b5fb7404cb8a0357257158bf7);
        
    
            var feature_group_aa9cbbb14d844bdcb901efabdf19130c = L.featureGroup(
                ).addTo(map_1108fe1b5fb7404cb8a0357257158bf7);
        
    

            var marker_a6471e9909b7478bb0d7b06a21987dc6 = L.marker(
                [19.24523,-99.07573],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_aa9cbbb14d844bdcb901efabdf19130c);
            
    

                var icon_8de68fc8586449d282d6b6bcd89caf93 = L.AwesomeMarkers.icon({
                    icon: 'none',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_a6471e9909b7478bb0d7b06a21987dc6.setIcon(icon_8de68fc8586449d282d6b6bcd89caf93);
            
    
            var popup_77257d1bdbf84ed5ac23d1f3d4ca6c70 = L.popup({maxWidth: '300'});

            
                var html_633f0f065421428cabcf18fef39a5ed3 = $('<div id="html_633f0f065421428cabcf18fef39a5ed3" style="width: 100.0%; height: 100.0%;">2017-09-23 13:26:27 Se Necesita: Agua Embotellada; Alimentos No Perecederos; Otro Viveres En General. Jose Truko 444 850 2692</div>')[0];
                popup_77257d1bdbf84ed5ac23d1f3d4ca6c70.setContent(html_633f0f065421428cabcf18fef39a5ed3);
            

            marker_a6471e9909b7478bb0d7b06a21987dc6.bindPopup(popup_77257d1bdbf84ed5ac23d1f3d4ca6c70);

            
        
    
            var feature_group_e664052c15cb4ecc8c814ad10a306704 = L.featureGroup(
                ).addTo(map_1108fe1b5fb7404cb8a0357257158bf7);
        
    

            var marker_2ec72b79fc9f41368b410ce4c86e96d9 = L.marker(
                [19.03997,-98.2133],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_e664052c15cb4ecc8c814ad10a306704);
            
    

                var icon_d1bc1070bcee4ec793215cbce4810e9f = L.AwesomeMarkers.icon({
                    icon: 'none',
                    iconColor: 'white',
                    markerColor: 'white',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_2ec72b79fc9f41368b410ce4c86e96d9.setIcon(icon_d1bc1070bcee4ec793215cbce4810e9f);
            
    
            var popup_2203fb0c07ec475cb543a212c4794b79 = L.popup({maxWidth: '300'});

            
                var html_144244d8c22a43d880fcbdc23648a84b = $('<div id="html_144244d8c22a43d880fcbdc23648a84b" style="width: 100.0%; height: 100.0%;">2017-09-22 19:02:20 Se Necesita: Material De Curacion (Gasas, Agua Oxigenada,...); Jeringas (5Ml Y 10Ml); Extensiones De Luz; Detergente  Acopio Hubuap. Maz </div>')[0];
                popup_2203fb0c07ec475cb543a212c4794b79.setContent(html_144244d8c22a43d880fcbdc23648a84b);
            

            marker_2ec72b79fc9f41368b410ce4c86e96d9.bindPopup(popup_2203fb0c07ec475cb543a212c4794b79);

            
        
    
            var feature_group_27063268646c4cffad8af425d3e5bd0c = L.featureGroup(
                ).addTo(map_1108fe1b5fb7404cb8a0357257158bf7);
        
    

            var marker_fd1a1f1fc50b44d08252006a485afb3a = L.marker(
                [19.33935,-99.14236],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_27063268646c4cffad8af425d3e5bd0c);
            
    

                var icon_5a70aebf94b84b37b1a895dd1a9241b2 = L.AwesomeMarkers.icon({
                    icon: 'none',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_fd1a1f1fc50b44d08252006a485afb3a.setIcon(icon_5a70aebf94b84b37b1a895dd1a9241b2);
            
    
            var popup_a501959c780b4446937f494dc27da5c8 = L.popup({maxWidth: '300'});

            
                var html_73429e92cfa44ce38112296ee48da643 = $('<div id="html_73429e92cfa44ce38112296ee48da643" style="width: 100.0%; height: 100.0%;">2017-09-23 15:13:58 Se Necesitan 20 Voluntarios Para Realizar:  Contacto: Gaby 55 2181 9064</div>')[0];
                popup_a501959c780b4446937f494dc27da5c8.setContent(html_73429e92cfa44ce38112296ee48da643);
            

            marker_fd1a1f1fc50b44d08252006a485afb3a.bindPopup(popup_a501959c780b4446937f494dc27da5c8);

            
        
    
            var feature_group_d7a227fcc3274140972f07bf484597cb = L.featureGroup(
                ).addTo(map_1108fe1b5fb7404cb8a0357257158bf7);
        
    

            var marker_a8dc105fac244921992461d8f8d8620d = L.marker(
                [19.38907,-99.16171],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_d7a227fcc3274140972f07bf484597cb);
            
    

                var icon_06fda726a51449c2a9d74121b13b8e40 = L.AwesomeMarkers.icon({
                    icon: 'none',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_a8dc105fac244921992461d8f8d8620d.setIcon(icon_06fda726a51449c2a9d74121b13b8e40);
            
    
            var popup_f2a3bda5f3b540c58bab6d44a6e49531 = L.popup({maxWidth: '300'});

            
                var html_f603e3452bf7439b9dbb4e92fdd9d49c = $('<div id="html_f603e3452bf7439b9dbb4e92fdd9d49c" style="width: 100.0%; height: 100.0%;">2017-09-22 15:38:54 Cum - Características: Ofrece Comida </div>')[0];
                popup_f2a3bda5f3b540c58bab6d44a6e49531.setContent(html_f603e3452bf7439b9dbb4e92fdd9d49c);
            

            marker_a8dc105fac244921992461d8f8d8620d.bindPopup(popup_f2a3bda5f3b540c58bab6d44a6e49531);

            
        
    

            var marker_e7938b9c8ba54960ac2c3af98f88cd00 = L.marker(
                [19.40977,-99.16238],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_d7a227fcc3274140972f07bf484597cb);
            
    

                var icon_9992415eee1445a798787f2936b38ae6 = L.AwesomeMarkers.icon({
                    icon: 'none',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_e7938b9c8ba54960ac2c3af98f88cd00.setIcon(icon_9992415eee1445a798787f2936b38ae6);
            
    
            var popup_db7c25c6a3df4282abd78a2d137ab033 = L.popup({maxWidth: '300'});

            
                var html_0a0a267be1f94a77a20666b5e10ef580 = $('<div id="html_0a0a267be1f94a77a20666b5e10ef580" style="width: 100.0%; height: 100.0%;">2017-09-22 14:41:59 Albergue Para Perros Y Gatos - Características: Acepta Mascotas </div>')[0];
                popup_db7c25c6a3df4282abd78a2d137ab033.setContent(html_0a0a267be1f94a77a20666b5e10ef580);
            

            marker_e7938b9c8ba54960ac2c3af98f88cd00.bindPopup(popup_db7c25c6a3df4282abd78a2d137ab033);

            
        
    

            var marker_6fb40e3120a44265b15c2a98129cfc41 = L.marker(
                [19.43557,-99.15858],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_d7a227fcc3274140972f07bf484597cb);
            
    

                var icon_e152d21da38e4c8993dd00b513f73e45 = L.AwesomeMarkers.icon({
                    icon: 'none',
                    iconColor: 'white',
                    markerColor: 'green',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_6fb40e3120a44265b15c2a98129cfc41.setIcon(icon_e152d21da38e4c8993dd00b513f73e45);
            
    
            var popup_1dbaa60830ac4e96b4280c1da23ea270 = L.popup({maxWidth: '300'});

            
                var html_1b222e6824b54231b3b61907299e35a1 = $('<div id="html_1b222e6824b54231b3b61907299e35a1" style="width: 100.0%; height: 100.0%;">2017-09-22 13:24:28 Albergue Pentatlon Universitario - Características: Ofrece Comida Es Del Pentatlon Universitario En La Delegacion Cuauhtemoc Frente A La Uvm Campus San Rafael. Sadi Carnot 68 Col San Rafael</div>')[0];
                popup_1dbaa60830ac4e96b4280c1da23ea270.setContent(html_1b222e6824b54231b3b61907299e35a1);
            

            marker_6fb40e3120a44265b15c2a98129cfc41.bindPopup(popup_1dbaa60830ac4e96b4280c1da23ea270);

            
        
    
            var feature_group_716e4072cda1409780932075194112c6 = L.featureGroup(
                ).addTo(map_1108fe1b5fb7404cb8a0357257158bf7);
        
    

            var marker_84909c7f5fb342c3b517c13d3e5276e0 = L.marker(
                [19.41308,-99.16478],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_716e4072cda1409780932075194112c6);
            
    

                var icon_fe5d47ccf8db4cbf9d78c852faa7dd4f = L.AwesomeMarkers.icon({
                    icon: 'none',
                    iconColor: 'white',
                    markerColor: 'black',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_84909c7f5fb342c3b517c13d3e5276e0.setIcon(icon_fe5d47ccf8db4cbf9d78c852faa7dd4f);
            
    
            var popup_580ef52ee53c4986ac1947477457b600 = L.popup({maxWidth: '300'});

            
                var html_973688d96dd9438d9f0f2339401abdf6 = $('<div id="html_973688d96dd9438d9f0f2339401abdf6" style="width: 100.0%; height: 100.0%;">2017-09-22 18:16:39 <Br>Derrumbe Maz</div>')[0];
                popup_580ef52ee53c4986ac1947477457b600.setContent(html_973688d96dd9438d9f0f2339401abdf6);
            

            marker_84909c7f5fb342c3b517c13d3e5276e0.bindPopup(popup_580ef52ee53c4986ac1947477457b600);

            
        
    

            var marker_a5b71773beb64fda88af58b7e7a385c2 = L.marker(
                [19.41297,-99.17091],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_716e4072cda1409780932075194112c6);
            
    

                var icon_ee5cb8b01d244cbeb3f555326bb9d73a = L.AwesomeMarkers.icon({
                    icon: 'none',
                    iconColor: 'white',
                    markerColor: 'black',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_a5b71773beb64fda88af58b7e7a385c2.setIcon(icon_ee5cb8b01d244cbeb3f555326bb9d73a);
            
    
            var popup_309717532d1c45909517beada20e0d93 = L.popup({maxWidth: '300'});

            
                var html_332c813e9ef64b368bd91bb5ced8b782 = $('<div id="html_332c813e9ef64b368bd91bb5ced8b782" style="width: 100.0%; height: 100.0%;">2017-09-22 18:14:52 <Br>Derrumbe </div>')[0];
                popup_309717532d1c45909517beada20e0d93.setContent(html_332c813e9ef64b368bd91bb5ced8b782);
            

            marker_a5b71773beb64fda88af58b7e7a385c2.bindPopup(popup_309717532d1c45909517beada20e0d93);

            
        
    

            var marker_0131f05b0de940d79b70d4b7374642d3 = L.marker(
                [19.41296,-99.16457],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_716e4072cda1409780932075194112c6);
            
    

                var icon_71c4ada2e8974ba380cfdbaf6dc354f2 = L.AwesomeMarkers.icon({
                    icon: 'none',
                    iconColor: 'white',
                    markerColor: 'black',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_0131f05b0de940d79b70d4b7374642d3.setIcon(icon_71c4ada2e8974ba380cfdbaf6dc354f2);
            
    
            var popup_b77615de554346b1886ec855ce5ccaaa = L.popup({maxWidth: '300'});

            
                var html_72d0eebc3003453997582b0872a53421 = $('<div id="html_72d0eebc3003453997582b0872a53421" style="width: 100.0%; height: 100.0%;">2017-09-22 11:50:11 <Br>Derrumbe </div>')[0];
                popup_b77615de554346b1886ec855ce5ccaaa.setContent(html_72d0eebc3003453997582b0872a53421);
            

            marker_0131f05b0de940d79b70d4b7374642d3.bindPopup(popup_b77615de554346b1886ec855ce5ccaaa);

            
        
    
            var feature_group_081f70d8726f432ba2bb17f9b62ae061 = L.featureGroup(
                ).addTo(map_1108fe1b5fb7404cb8a0357257158bf7);
        
    

            var marker_13c26ab8dee048868de777c749344a74 = L.marker(
                [19.03205,-98.20062],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_081f70d8726f432ba2bb17f9b62ae061);
            
    

                var icon_921f57c7f7d4497798701a834ba01073 = L.AwesomeMarkers.icon({
                    icon: 'none',
                    iconColor: 'white',
                    markerColor: 'orange',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_13c26ab8dee048868de777c749344a74.setIcon(icon_921f57c7f7d4497798701a834ba01073);
            
    
            var popup_9bafcc544291482ba9d03541c5052bf2 = L.popup({maxWidth: '300'});

            
                var html_d31c276a416449a69046801d81e86336 = $('<div id="html_d31c276a416449a69046801d81e86336" style="width: 100.0%; height: 100.0%;">2017-09-22 19:21:46 <Br>Daño 209 De La 25 Pte Inmueble Danado, Esta Acordonado Pero Es Zona De Mucho Transito.</div>')[0];
                popup_9bafcc544291482ba9d03541c5052bf2.setContent(html_d31c276a416449a69046801d81e86336);
            

            marker_13c26ab8dee048868de777c749344a74.bindPopup(popup_9bafcc544291482ba9d03541c5052bf2);

            
        
    

            var marker_7a90f58baa124422a5d18ee68447ea69 = L.marker(
                [19.35063,-99.12577],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_081f70d8726f432ba2bb17f9b62ae061);
            
    

                var icon_58642255b6224a5a9d22cbca42bbd3dd = L.AwesomeMarkers.icon({
                    icon: 'none',
                    iconColor: 'white',
                    markerColor: 'orange',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_7a90f58baa124422a5d18ee68447ea69.setIcon(icon_58642255b6224a5a9d22cbca42bbd3dd);
            
    
            var popup_22028487688d4aef80a590c3602257e6 = L.popup({maxWidth: '300'});

            
                var html_a47a0d8b8d574dbf80ed68485eb101bd = $('<div id="html_a47a0d8b8d574dbf80ed68485eb101bd" style="width: 100.0%; height: 100.0%;">2017-09-22 17:01:58 <Br>Daño Dos Edificios Gravemente Danados, Una Obra De Construccion Que Esta Trabajando Ahorita Y Pone En Peligro Por El Peso De Sus Camiones.</div>')[0];
                popup_22028487688d4aef80a590c3602257e6.setContent(html_a47a0d8b8d574dbf80ed68485eb101bd);
            

            marker_7a90f58baa124422a5d18ee68447ea69.bindPopup(popup_22028487688d4aef80a590c3602257e6);

            
        
    
            var feature_group_96dd89cee7334b6390ea3206f09e375b = L.featureGroup(
                ).addTo(map_1108fe1b5fb7404cb8a0357257158bf7);
        
    
            var feature_group_20da1a1523154d68b5ac2b90011b3061 = L.featureGroup(
                ).addTo(map_1108fe1b5fb7404cb8a0357257158bf7);
        
    

            var marker_623564a784c94bfcafe8cb5ff2708817 = L.marker(
                [19.4357,-99.1439],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_20da1a1523154d68b5ac2b90011b3061);
            
    

                var icon_c925ca2cd11546c1a3a8f805b8e0fec9 = L.AwesomeMarkers.icon({
                    icon: 'none',
                    iconColor: 'white',
                    markerColor: 'white',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_623564a784c94bfcafe8cb5ff2708817.setIcon(icon_c925ca2cd11546c1a3a8f805b8e0fec9);
            
    
            var popup_d5b5bc9cb9e446c48322f9a2ad3e006c = L.popup({maxWidth: '300'});

            
                var html_ccf9b8250eb7453097d2701ed8c99139 = $('<div id="html_ccf9b8250eb7453097d2701ed8c99139" style="width: 100.0%; height: 100.0%;">2017-09-22 11:18:32  </div>')[0];
                popup_d5b5bc9cb9e446c48322f9a2ad3e006c.setContent(html_ccf9b8250eb7453097d2701ed8c99139);
            

            marker_623564a784c94bfcafe8cb5ff2708817.bindPopup(popup_d5b5bc9cb9e446c48322f9a2ad3e006c);

            
        
    

            var marker_89f79fb36fd24f1f8d1fddd88ec9d256 = L.marker(
                [19.34994,-99.1817],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(feature_group_20da1a1523154d68b5ac2b90011b3061);
            
    

                var icon_8fdef71a3994479f817c0e4ad8b66869 = L.AwesomeMarkers.icon({
                    icon: 'none',
                    iconColor: 'white',
                    markerColor: 'white',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_89f79fb36fd24f1f8d1fddd88ec9d256.setIcon(icon_8fdef71a3994479f817c0e4ad8b66869);
            
    
            var popup_d78e4ae1d1cd413aad2c303836abf1b6 = L.popup({maxWidth: '300'});

            
                var html_b0ac6b53a7e84f3fbff08f36e322ba92 = $('<div id="html_b0ac6b53a7e84f3fbff08f36e322ba92" style="width: 100.0%; height: 100.0%;">2017-09-22 00:02:33  </div>')[0];
                popup_d78e4ae1d1cd413aad2c303836abf1b6.setContent(html_b0ac6b53a7e84f3fbff08f36e322ba92);
            

            marker_89f79fb36fd24f1f8d1fddd88ec9d256.bindPopup(popup_d78e4ae1d1cd413aad2c303836abf1b6);

            
        
    
            var layer_control_2373e90fb9104d24a048f78527733fdd = {
                base_layers : { "openstreetmap" : tile_layer_9d6a1f4f0ce74613bfff190fcdd28e8b, },
                overlays : { "Acopios" : feature_group_aa9cbbb14d844bdcb901efabdf19130c,"Acopios Hospitales" : feature_group_e664052c15cb4ecc8c814ad10a306704,"Requieren Voluntarios" : feature_group_27063268646c4cffad8af425d3e5bd0c,"Albergues" : feature_group_d7a227fcc3274140972f07bf484597cb,"Derrumbes" : feature_group_716e4072cda1409780932075194112c6,"Daños" : feature_group_081f70d8726f432ba2bb17f9b62ae061,"Requieren revisión de inmueble" : feature_group_96dd89cee7334b6390ea3206f09e375b,"Hospitales" : feature_group_20da1a1523154d68b5ac2b90011b3061, }
                };
            L.control.layers(
                layer_control_2373e90fb9104d24a048f78527733fdd.base_layers,
                layer_control_2373e90fb9104d24a048f78527733fdd.overlays,
                {position: 'topright',
                 collapsed: true,
                 autoZIndex: true
                }).addTo(map_1108fe1b5fb7404cb8a0357257158bf7);
        
</script>